.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-value {
  font-size: 24px;
  font-weight: bold;
  color: #158B7F;
}

.card-label {
  color: #5A5A5A;
  margin-top: 4px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-icon {
  background: transparent;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-icon svg {
  color: #FFFFFF;
  font-size: 24px;
}