.progress-bar-card {
  flex: 1;
  padding: 1rem;
  border-radius: 0.75rem;
  background: var(--White, #FFF);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  /* margin-bottom: 10px; */
}


.value-section {
  text-align: left;
  margin-right: .8rem;
}

.value {
  color: #007AFF !important;
  font-size: 24px;
  font-weight: bold;
}

.label {
  display: block;
  font-size: 14px;
  color: #5A5A5A;
}

.progress-section {
  flex-grow: 1;

  margin-left: 20px;
  position: relative;
}

.progress-bar {
  width: 100%;
  background-color: #ccc;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.progress {
  height: 10px;
  background-color: #007AFF;
  border-radius: 5px;
}

.percentage p {
  display: inline-block;
  color: #007AFF;
  font-weight: bold;
}

.progressStep {
  display: flex;
  flex-direction: row;

}

.percentage {
  text-align: left;
  font-size: 14px;
  color: #888;


}

@media (max-width: 768px) {
  .progress-bar-card {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .progress-section {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
  }

  .percentage {
    bottom: -25px;
    left: 20%;
    transform: translateX(-50%);
    margin-bottom: 4px;
  }
}