.date-picker-container {
  position: relative;
}

.date-picker-container label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--Dark-100, #313131);

  /* 20/reg Eng */
  font-family: AG Book Pro;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.date-display {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 2px solid var(--Dark-60, #838383);
  border-radius: 0.5rem;
  cursor: pointer;
  height: 3rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #838383;
}

.calendar-icon {
  width: 20px;
  height: 20px;
}

.calendar {
  width: 100%;
  position: absolute;
  z-index: 110;
  margin-top: 1rem;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  /* padding: 0.5rem 1rem; */
  margin-top: 0.5rem;
}

.month-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  color: var(--Blue, #0174be);
  font-family: Calibri;
  font-size: 1.47344rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.day-names {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.day-name {
  flex: 1;
  text-align: center;
  padding: 0.5rem;
  color: var(--Black, #292929);
  font-family: Calibri;
  font-size: 1.21344rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* gap: 1rem; */
  text-align: center;
  color: var(--Gray, #707070);
  text-align: center;
  font-family: Calibri;
  font-size: 1.21344rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.date-cell {
  padding: 0.8rem;
  cursor: pointer;
  margin: auto;
}

.date-cell:hover,
.date-cell.active {
  background-color: rgba(1, 116, 190, 0.1);

  border-radius: 100%;
  width: 100%;
}

.disabled-data {
  color: var(--Dark-80, #5a5a5a);

  /* 18/reg Eng */
  font-family: "AG Book Pro";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 0.5rem;
  border: 2px solid var(--Dark-20, #d6d6d6) !important;
  background: var(--White-bg, #f5f5f5) !important;
}
