.add-sub-activity{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    align-items: center;
    justify-items: stretch;
    justify-content: space-evenly;
    align-content: center;
    padding: 1rem;
    width: 100%;


}