@font-face {
  font-family: "Swissra";
  src: url("../public/fonts/Swissra-Normal.otf") format("opentype");
}

@font-face {
  font-family: "AG Book Pro";
  src: url("../public/fonts/AG-Book-Rounded-Regular.otf") format("opentype");
}

.test-header-nav {
  margin-right: 1rem;
}
/* html {
  font-family: 'AG Book Pro', sans-serif;

} */
.arabic-text {
  font-family: "Swissra", sans-serif;
}

.english-text {
  font-family: "AG Book Pro", sans-serif;
}

body {
  font-family: "AG Book Pro", sans-serif;
  /* user-select: none; */
  /* Default font for English */
}

:dir(rtl) {
  font-family: "Swissra", sans-serif !important;
}

/* html[lang*=ar] {
  font-family: 'Swissra', sans-serif;

} */

:root {
  --12-bold-eng-font-family: "AGBook Pro-Medium", Helvetica;
  --12-bold-eng-font-size: 12px;
  --12-bold-eng-font-style: normal;
  --12-bold-eng-font-weight: 500;
  --12-bold-eng-letter-spacing: 0px;
  --12-bold-eng-line-height: normal;
  --12-reg-eng-font-family: "AGBook Pro-Regular", Helvetica;
  --12-reg-eng-font-size: 12px;
  --12-reg-eng-font-style: normal;
  --12-reg-eng-font-weight: 400;
  --12-reg-eng-letter-spacing: 0px;
  --12-reg-eng-line-height: normal;
  --14-bold-eng-font-family: "AGBook Pro-Medium", Helvetica;
  --14-bold-eng-font-size: 14px;
  --14-bold-eng-font-style: normal;
  --14-bold-eng-font-weight: 500;
  --14-bold-eng-letter-spacing: 0px;
  --14-bold-eng-line-height: normal;
  --14-reg-eng-font-family: "AGBook Pro-Regular", Helvetica;
  --14-reg-eng-font-size: 14px;
  --14-reg-eng-font-style: normal;
  --14-reg-eng-font-weight: 400;
  --14-reg-eng-letter-spacing: 0px;
  --14-reg-eng-line-height: normal;
  --16-bold-eng-font-family: "AGBook Pro-Medium", Helvetica;
  --16-bold-eng-font-size: 16px;
  --16-bold-eng-font-style: normal;
  --16-bold-eng-font-weight: 500;
  --16-bold-eng-letter-spacing: 0px;
  --16-bold-eng-line-height: normal;
  --16-bold-font-family: "SwissraCondensed-Medium-☞", Helvetica;
  --16-bold-font-size: 16px;
  --16-bold-font-style: normal;
  --16-bold-font-weight: 400;
  --16-bold-letter-spacing: 0px;
  --16-bold-line-height: normal;
  --16-reg-eng-font-family: "AGBook Pro-Regular", Helvetica;
  --16-reg-eng-font-size: 16px;
  --16-reg-eng-font-style: normal;
  --16-reg-eng-font-weight: 400;
  --16-reg-eng-letter-spacing: 0px;
  --16-reg-eng-line-height: normal;
  --16-reg-font-family: "SwissraCondensed-Normal-☞", Helvetica;
  --16-reg-font-size: 16px;
  --16-reg-font-style: normal;
  --16-reg-font-weight: 400;
  --16-reg-letter-spacing: 0px;
  --16-reg-line-height: normal;
  --18-bold-eng-font-family: "AGBook Pro-Bold", Helvetica;
  --18-bold-eng-font-size: 18px;
  --18-bold-eng-font-style: normal;
  --18-bold-eng-font-weight: 700;
  --18-bold-eng-letter-spacing: 0px;
  --18-bold-eng-line-height: normal;
  --18-bold-font-family: "SwissraCondensed-Medium-☞", Helvetica;
  --18-bold-font-size: 18px;
  --18-bold-font-style: normal;
  --18-bold-font-weight: 400;
  --18-bold-letter-spacing: 0px;
  --18-bold-line-height: normal;
  --18-reg-eng-font-family: "AGBook Pro-Regular", Helvetica;
  --18-reg-eng-font-size: 18px;
  --18-reg-eng-font-style: normal;
  --18-reg-eng-font-weight: 400;
  --18-reg-eng-letter-spacing: 0px;
  --18-reg-eng-line-height: normal;
  --18-reg-font-family: "SwissraCondensed-Normal-☞", Helvetica;
  --18-reg-font-size: 18px;
  --18-reg-font-style: normal;
  --18-reg-font-weight: 400;
  --18-reg-letter-spacing: 0px;
  --18-reg-line-height: normal;
  --20-bold-eng-font-family: "AGBook Pro-Medium", Helvetica;
  --20-bold-eng-font-size: 20px;
  --20-bold-eng-font-style: normal;
  --20-bold-eng-font-weight: 500;
  --20-bold-eng-letter-spacing: 0px;
  --20-bold-eng-line-height: normal;
  --20-bold-font-family: "SwissraCondensed-Medium-☞", Helvetica;
  --20-bold-font-size: 20px;
  --20-bold-font-style: normal;
  --20-bold-font-weight: 400;
  --20-bold-letter-spacing: 0px;
  --20-bold-line-height: normal;
  --20-reg-eng-font-family: "AGBook Pro-Regular", Helvetica;
  --20-reg-eng-font-size: 20px;
  --20-reg-eng-font-style: normal;
  --20-reg-eng-font-weight: 400;
  --20-reg-eng-letter-spacing: 0px;
  --20-reg-eng-line-height: normal;
  --20-reg-font-family: "SwissraCondensed-Normal-☞", Helvetica;
  --20-reg-font-size: 20px;
  --20-reg-font-style: normal;
  --20-reg-font-weight: 400;
  --20-reg-letter-spacing: 0px;
  --20-reg-line-height: normal;
  --24-bold-eng-font-family: "AGBook Pro-Medium", Helvetica;
  --24-bold-eng-font-size: 24px;
  --24-bold-eng-font-style: normal;
  --24-bold-eng-font-weight: 500;
  --24-bold-eng-letter-spacing: 0px;
  --24-bold-eng-line-height: normal;
  --24-bold-font-family: "SwissraCondensed-Medium-☞", Helvetica;
  --24-bold-font-size: 24px;
  --24-bold-font-style: normal;
  --24-bold-font-weight: 400;
  --24-bold-letter-spacing: 0px;
  --24-bold-line-height: normal;
  --24-reg-eng-font-family: "AGBook Pro-Regular", Helvetica;
  --24-reg-eng-font-size: 24px;
  --24-reg-eng-font-style: normal;
  --24-reg-eng-font-weight: 400;
  --24-reg-eng-letter-spacing: 0px;
  --24-reg-eng-line-height: normal;
  --24-reg-font-family: "SwissraCondensed-Normal-☞", Helvetica;
  --24-reg-font-size: 24px;
  --24-reg-font-style: normal;
  --24-reg-font-weight: 400;
  --24-reg-letter-spacing: 0px;
  --24-reg-line-height: normal;
  --28-bold-eng-font-family: "AGBook Pro-Medium", Helvetica;
  --28-bold-eng-font-size: 28px;
  --28-bold-eng-font-style: normal;
  --28-bold-eng-font-weight: 500;
  --28-bold-eng-letter-spacing: 0px;
  --28-bold-eng-line-height: normal;
  --28-bold-font-family: "SwissraCondensed-Medium-☞", Helvetica;
  --28-bold-font-size: 28px;
  --28-bold-font-style: normal;
  --28-bold-font-weight: 400;
  --28-bold-letter-spacing: 0px;
  --28-bold-line-height: normal;
  --28-reg-eng-font-family: "AGBook Pro-Regular", Helvetica;
  --28-reg-eng-font-size: 28px;
  --28-reg-eng-font-style: normal;
  --28-reg-eng-font-weight: 400;
  --28-reg-eng-letter-spacing: 0px;
  --28-reg-eng-line-height: normal;
  --28-reg-font-family: "SwissraCondensed-Normal-☞", Helvetica;
  --28-reg-font-size: 28px;
  --28-reg-font-style: normal;
  --28-reg-font-weight: 400;
  --28-reg-letter-spacing: 0px;
  --28-reg-line-height: normal;
  --32-bold-eng-font-family: "AGBook Pro-Medium", Helvetica;
  --32-bold-eng-font-size: 32px;
  --32-bold-eng-font-style: normal;
  --32-bold-eng-font-weight: 500;
  --32-bold-eng-letter-spacing: 0px;
  --32-bold-eng-line-height: normal;
  --32-bold-font-family: "SwissraCondensed-Medium-☞", Helvetica;
  --32-bold-font-size: 32px;
  --32-bold-font-style: normal;
  --32-bold-font-weight: 400;
  --32-bold-letter-spacing: 0px;
  --32-bold-line-height: normal;
  --32-reg-eng-font-family: "AGBook Pro-Regular", Helvetica;
  --32-reg-eng-font-size: 32px;
  --32-reg-eng-font-style: normal;
  --32-reg-eng-font-weight: 400;
  --32-reg-eng-letter-spacing: 0px;
  --32-reg-eng-line-height: normal;
  --32-reg-font-family: "SwissraCondensed-Normal-☞", Helvetica;
  --32-reg-font-size: 32px;
  --32-reg-font-style: normal;
  --32-reg-font-weight: 400;
  --32-reg-letter-spacing: 0px;
  --32-reg-line-height: normal;
  --40-bold-eng-font-family: "AGBook Pro-Medium", Helvetica;
  --40-bold-eng-font-size: 40px;
  --40-bold-eng-font-style: normal;
  --40-bold-eng-font-weight: 500;
  --40-bold-eng-letter-spacing: 0px;
  --40-bold-eng-line-height: normal;
  --40-bold-font-family: "SwissraCondensed-Medium-☞", Helvetica;
  --40-bold-font-size: 40px;
  --40-bold-font-style: normal;
  --40-bold-font-weight: 400;
  --40-bold-letter-spacing: 0px;
  --40-bold-line-height: normal;
  --40-reg-eng-font-family: "AGBook Pro-Regular", Helvetica;
  --40-reg-eng-font-size: 40px;
  --40-reg-eng-font-style: normal;
  --40-reg-eng-font-weight: 400;
  --40-reg-eng-letter-spacing: 0px;
  --40-reg-eng-line-height: normal;
  --40-reg-font-family: "SwissraCondensed-Normal-☞", Helvetica;
  --40-reg-font-size: 40px;
  --40-reg-font-style: normal;
  --40-reg-font-weight: 400;
  --40-reg-letter-spacing: 0px;
  --40-reg-line-height: normal;
  --48-bold-eng-font-family: "AGBook Pro-Medium", Helvetica;
  --48-bold-eng-font-size: 48px;
  --48-bold-eng-font-style: normal;
  --48-bold-eng-font-weight: 500;
  --48-bold-eng-letter-spacing: 0px;
  --48-bold-eng-line-height: normal;
  --48-bold-font-family: "SwissraCondensed-Medium-☞", Helvetica;
  --48-bold-font-size: 48px;
  --48-bold-font-style: normal;
  --48-bold-font-weight: 400;
  --48-bold-letter-spacing: 0px;
  --48-bold-line-height: normal;
  --48-reg-eng-font-family: "AGBook Pro-Regular", Helvetica;
  --48-reg-eng-font-size: 48px;
  --48-reg-eng-font-style: normal;
  --48-reg-eng-font-weight: 400;
  --48-reg-eng-letter-spacing: 0px;
  --48-reg-eng-line-height: normal;
  --48-reg-font-family: "SwissraCondensed-Normal-☞", Helvetica;
  --48-reg-font-size: 48px;
  --48-reg-font-style: normal;
  --48-reg-font-weight: 400;
  --48-reg-letter-spacing: 0px;
  --48-reg-line-height: normal;
  --56-bold-eng-font-family: "AGBook Pro-Medium", Helvetica;
  --56-bold-eng-font-size: 56px;
  --56-bold-eng-font-style: normal;
  --56-bold-eng-font-weight: 500;
  --56-bold-eng-letter-spacing: 0px;
  --56-bold-eng-line-height: normal;
  --56-bold-font-family: "SwissraCondensed-Medium-☞", Helvetica;
  --56-bold-font-size: 56px;
  --56-bold-font-style: normal;
  --56-bold-font-weight: 400;
  --56-bold-letter-spacing: 0px;
  --56-bold-line-height: normal;
  --56-reg-eng-font-family: "AGBook Pro-Regular", Helvetica;
  --56-reg-eng-font-size: 56px;
  --56-reg-eng-font-style: normal;
  --56-reg-eng-font-weight: 400;
  --56-reg-eng-letter-spacing: 0px;
  --56-reg-eng-line-height: normal;
  --56-reg-font-family: "SwissraCondensed-Normal-☞", Helvetica;
  --56-reg-font-size: 56px;
  --56-reg-font-style: normal;
  --56-reg-font-weight: 400;
  --56-reg-letter-spacing: 0px;
  --56-reg-line-height: normal;
  --64-bold-eng-font-family: "AGBook Pro-Medium", Helvetica;
  --64-bold-eng-font-size: 64px;
  --64-bold-eng-font-style: normal;
  --64-bold-eng-font-weight: 500;
  --64-bold-eng-letter-spacing: 0px;
  --64-bold-eng-line-height: normal;
  --64-bold-font-family: "SwissraCondensed-Medium-☞", Helvetica;
  --64-bold-font-size: 64px;
  --64-bold-font-style: normal;
  --64-bold-font-weight: 400;
  --64-bold-letter-spacing: 0px;
  --64-bold-line-height: normal;
  --64-reg-eng-font-family: "AGBook Pro-Regular", Helvetica;
  --64-reg-eng-font-size: 64px;
  --64-reg-eng-font-style: normal;
  --64-reg-eng-font-weight: 400;
  --64-reg-eng-letter-spacing: 0px;
  --64-reg-eng-line-height: normal;
  --64-reg-font-family: "SwissraCondensed-Normal-☞", Helvetica;
  --64-reg-font-size: 64px;
  --64-reg-font-style: normal;
  --64-reg-font-weight: 400;
  --64-reg-letter-spacing: 0px;
  --64-reg-line-height: normal;
  --72-bold-eng-font-family: "AGBook Pro-Medium", Helvetica;
  --72-bold-eng-font-size: 72px;
  --72-bold-eng-font-style: normal;
  --72-bold-eng-font-weight: 500;
  --72-bold-eng-letter-spacing: 0px;
  --72-bold-eng-line-height: normal;
  --72-bold-font-family: "SwissraCondensed-Medium-☞", Helvetica;
  --72-bold-font-size: 72px;
  --72-bold-font-style: normal;
  --72-bold-font-weight: 400;
  --72-bold-letter-spacing: 0px;
  --72-bold-line-height: normal;
  --72-reg-eng-font-family: "AGBook Pro-Regular", Helvetica;
  --72-reg-eng-font-size: 72px;
  --72-reg-eng-font-style: normal;
  --72-reg-eng-font-weight: 400;
  --72-reg-eng-letter-spacing: 0px;
  --72-reg-eng-line-height: normal;
  --72-reg-font-family: "SwissraCondensed-Normal-☞", Helvetica;
  --72-reg-font-size: 72px;
  --72-reg-font-style: normal;
  --72-reg-font-weight: 400;
  --72-reg-letter-spacing: 0px;
  --72-reg-line-height: normal;
  --88-bold-eng-font-family: "AGBook Pro-Medium", Helvetica;
  --88-bold-eng-font-size: 88px;
  --88-bold-eng-font-style: normal;
  --88-bold-eng-font-weight: 500;
  --88-bold-eng-letter-spacing: 0px;
  --88-bold-eng-line-height: normal;
  --88-bold-font-family: "SwissraCondensed-Medium-☞", Helvetica;
  --88-bold-font-size: 88px;
  --88-bold-font-style: normal;
  --88-bold-font-weight: 400;
  --88-bold-letter-spacing: 0px;
  --88-bold-line-height: normal;
  --88-reg-eng-font-family: "AGBook Pro-Regular", Helvetica;
  --88-reg-eng-font-size: 88px;
  --88-reg-eng-font-style: normal;
  --88-reg-eng-font-weight: 400;
  --88-reg-eng-letter-spacing: 0px;
  --88-reg-eng-line-height: normal;
  --88-reg-font-family: "SwissraCondensed-Normal-☞", Helvetica;
  --88-reg-font-size: 88px;
  --88-reg-font-style: normal;
  --88-reg-font-weight: 400;
  --88-reg-letter-spacing: 0px;
  --88-reg-line-height: normal;
  --color-blue: rgba(0, 122, 255, 1);
  --color-dark-100: rgba(49, 49, 49, 1);
  --color-dark-20: rgba(214, 214, 214, 1);
  --color-dark-40: rgba(173, 173, 173, 1);
  --color-dark-60: rgba(131, 131, 131, 1);
  --color-dark-80: rgba(90, 90, 90, 1);
  --color-green: rgba(123, 188, 103, 1);
  --color-lndigo: rgba(88, 86, 214, 1);
  --color-primary-100: rgba(21, 139, 127, 1);
  --color-primary-20: rgba(208, 232, 229, 1);
  --color-primary-80: rgba(68, 162, 153, 1);
  --color-red: rgba(234, 81, 72, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-white-bg: rgba(245, 245, 245, 1);
  --color-yellow: rgba(255, 200, 0, 1);
  --shaddow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fcfcfc;
}
