.achievement-card {
    width: 31rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .achievement-icon-container {
    background-color: #158B7F; 
    padding: 10px;
    margin-bottom: 20px; 
    border-radius: 10px; 
  }
  
  .achievement-icon {
    width: 50px; 
    height: 50px;
  }
  
.achievement-content{
    text-align: center;
}
  
  .achievement-description {
    color: #1A1B3A;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  