.notification-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  /* Add padding as needed */
  width: 11.625rem;
  color: #5A5A5A;
  text-decoration: none;

  /* 16/reg Eng */
  font-family: AG Book Pro;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.notification-link:hover {
  color:  #313131;

  /* 16/reg Eng */
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.arrow-icon {
  width: 24px;
  /* Adjust size as needed */
  height: 24px;
  /* Adjust size as needed */
}